NEXT_PUBLIC_SUPABASE_URL=https://rzisaikmdwsdxtioefwk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ6aXNhaWttZHdzZHh0aW9lZndrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MTc4NzQsImV4cCI6MjA5OTA5Mzg3NH0.NHXFa_T5udRXHz51PI-bEgotxMtkNrkPumExOpsERw4
